
@import '../scss/fonts';

html, body, #root {
	height: 100%;
}

body {
  font-family: 'VT'
}

.home-container {
  background-color: #202543;
  position: relative;
  overflow: hidden;
}

.home-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #FFF;
}

#tsparticles {
  height: 100vh;
}

.home-value {
  font-size: 150px;
  letter-spacing: 5px;
}

.home-btn-wrap {
  bottom: 50px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 9;
}

.home-btn {
  cursor: pointer;
  border: 1px solid #FFF;
  border-radius: 5px;
  display: inline-block;
  color: #FFF;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-size: 50px;
  margin: 30px;

  &.active {
    background-color: #FFF;
    color: #202543;
  }
}

.home-fun-wrap {
  position: absolute;
  top: 20px;
  right: 20px;
}

.fun-btn {
  cursor: pointer;
  border: 1px solid #FFF;
  border-radius: 5px;
  display: inline-block;
  color: #FFF;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-size: 50px;
  margin: 30px;

  &.active {
    background-color: #FFF;
    color: #202543;
  }
}

.fun-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.home-heart {
  position: absolute;
}

@media (max-width: 420px) {
  .home-btn {
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    margin: 5px;
  }

  .home-fun-wrap {
    right: 25px;
  }

  .fun-btn {
    margin: 0;
  }
}